.caseStudy-data{
 /* display: flex; */
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
 gap: 20px;
 padding: 10px;
 margin: 0 auto;
 align-items: center;
 overflow: hidden;
 /* justify-content: center; */

}
/* .caseStudy-data.flex:nth-child(2){
 flex-wrap: wrap-reverse;
} */

.caseStudyTextLead{
    color: var(--light-color);   
    font-size: var(--biggest-font-size);
    margin-bottom: 21px; 
}

.caseStudyText{
 color: var(--light-color);   
 font-size: var(--h2-font-size); 
 margin-bottom: .7rem;
}
.caseStudyBtn{
 border-radius: 25px; 
 margin: auto 0;
 display: block;
 transition: .5s ease;
}
.caseStudyBtn:hover{
    background: transparent;
    border: 2px solid var(--formbtnclr);
    color:blueviolet;
}


.caseStudyImg{
    height: 40rem;
    width:34rem;
    object-fit: cover;
    min-height: 30rem;
    min-width: 25rem;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
    box-shadow: 3px 1rem 1.5rem rgba(0,0,0,0.1);
    transition: .4s ease;
}
.caseStudyImg.no2:hover{
  background-position: top;
}